<!-- Пример конфигурации NLog -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- ... другие настройки ... -->

  <rules>
    <!-- Пример настройки для вывода всех логов -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />

    <!-- Добавьте правило для ролей -->
    <logger name="*" minlevel="Trace" writeTo="roles" final="true">
      <filters>
        <when condition="contains('${aspnet-Role}', 'Admin')" action="Log" />
      </filters>
    </logger>
  </rules>
</nlog>