<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - ASP.NET </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    <style>
        body {
            background-color: #f2f2f2;
            font-family: 'Helvetica, Arial, sans-serif';
        }

        footer {
            text-align: center;
            margin-top: 20px;
            padding: 20px;
            background-color: #f8f9fa;
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .working-hours {
            text-align: center;
            order: 2;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            color: #333;
        }

        .social-section {
            order: 1;
        }

        .social-links {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

            .social-links li {
                margin: 5px 0;
            }

            .social-links a {
                text-decoration: none;
                color: #007bff;
                font-size: 20px;
                transition: color 0.3s ease-in-out;
            }

                .social-links a:hover {
                    color: #0056b3;
                }

        .copyright {
            margin: 0;
            order: 3;
            font-style: italic;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-content">
                <div class="working-hours">
                    <p>Графік роботи:</p>
                    <p>Пн-Пт: 9:00 - 18:00</p>
                    <p>Сб-Нд: за попереднім записом</p>
                </div>
                <!-- Соціальні мережі -->
                <div class="social-section">
                    <ul class="social-links">
                        <li><a href="#" target="_blank">Facebook</a></li>
                        <li><a href="#" target="_blank">Twitter</a></li>
                        <li><a href="#" target="_blank">Instagram</a></li>
                    </ul>
                </div>
                <p class="copyright">&copy; @DateTime.Now.Year - ASP.NET</p>
            </div>
        </footer>
    </div>
</body>
</html>
